#Game.slot.FHJSlot .gameViewport { background: url('BaseSlotEngine/games/FHJSlot/images/background.jpg?v=1.5.0.r|23-07-2019|08:23:48') top center; }
#Game.slot.FHJSlot .backgroundOverlay { background-image: url('BaseSlotEngine/games/FHJSlot/images/backgroundOverlay.png?v=1.5.0.r|23-07-2019|08:23:48');  }
#Game.slot.FHJSlot .gameTitle { background-image: url('BaseSlotEngine/games/FHJSlot/images/gameTitle.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.FHJSlot .gameTitle.noJackpot { background-image: url('BaseSlotEngine/games/FHJSlot/images/gameTitleNoJackpot.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.FHJSlot .topGameTitle { background-image: url('BaseSlotEngine/games/FHJSlot/images/topGameTitle.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.FHJSlot .denomButton { background-image: url("BaseSlotEngine/games/FHJSlot/images/denominationButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .autoplayButton { background-image: url("BaseSlotEngine/games/FHJSlot/images/autoSoundButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .soundButton { background-image: url("BaseSlotEngine/games/FHJSlot/images/autoSoundButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .betButton { background-image: url("BaseSlotEngine/games/FHJSlot/images/betButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .icons{		background-image: url("BaseSlotEngine/games/FHJSlot/images/settingsInfo.png?v=1.5.0.r|23-07-2019|08:23:48");}
#Game.slot.FHJSlot .iconsImage{	background-image: url("BaseSlotEngine/games/FHJSlot/images/settingsInfo.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .jackpotBoxes { background-image: url('BaseSlotEngine/games/FHJSlot/images/backgroundOverlay.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.FHJSlot .jackpotContentView
{
	border-color: #cf7718;
	background: -webkit-linear-gradient(black, #9d0000);
	background: -o-linear-gradient(black, #9d0000);
	background: -moz-linear-gradient(black, #9d0000);
	background: linear-gradient(black, #9d0000);
}
#Game.slot.FHJSlot .bottomUIContainer { background-image: url('BaseSlotEngine/games/FHJSlot/images/backgroundOverlay.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.FHJSlot .gambleContainer { border-color: #f5e937; }
#Game.slot.FHJSlot .settingsView { background-image: url("BaseSlotEngine/games/FHJSlot/images/background.jpg?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .settingsPaytableCloseButton { background-image: url("BaseSlotEngine/games/FHJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .settingsPaytableCloseButtonArrow { background-image: url("BaseSlotEngine/games/FHJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .settingsPaytableCloseButtonArrowHighlight { background-image: url("BaseSlotEngine/games/FHJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .paytableFromSettingsButton { background-image: url("BaseSlotEngine/games/FHJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .settingsFromPaytableButton { background-image: url("BaseSlotEngine/games/FHJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.FHJSlot .textField.lines
{
	color: #300b02;
	text-shadow: 0px 0px 6px #fcbd65, 0px 0px 6px #fcbd65, 0px 0px 6px #fcbd65, 0px 0px 6px #fcbd65, 0px 0px 6px #fcbd65, 0px 0px 6px #fcbd65, 0px 0px 6px #fcbd65;
}
#Game.slot.FHJSlot .textField.lines.active
{
	color: #e9ee71;
	text-shadow: 0px 0px 6px #bf0606, 0px 0px 6px #bf0606, 0px 0px 6px #bf0606, 0px 0px 6px #bf0606, 0px 0px 6px #bf0606, 0px 0px 6px #bf0606, 0px 0px 6px #bf0606;
}
#Game.slot.FHJSlot .gameNumberTime { color: #f6a54e; }
#Game.slot.FHJSlot .textField.totals { color: #f6a54e; }
#Game.slot.FHJSlot .textField.totals.jackpot { color: #f6a54e; }
#Game.slot.FHJSlot .bonusPopUp { border-color: #cf7718; }
